*{
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.bodyLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(229.67deg, rgba(205, 237, 255, 0.8) 33.86%, rgba(156, 219, 255, 1) 77.18%);
    backdrop-filter: blur(2px);
}

.tituloYFoto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bodyLogin h1 {
    font-size: 30px;
    text-align: center;
}

.diente{
width: 39px;
}

/* Estilos para el formulario */
.loginRegistry {
display: flex;
flex-direction: column;
align-items: center;
width: 90%;
max-width: 400px;
border: 1px solid #333; 
border-radius: 4px;
padding: 30px; 
}

/* form elements styles */
.loginRegistry div {
display: flex;
flex-direction: column;
width: 250px;
margin: 10px 0;
}

.loginRegistry label {
display: flex;
align-items: center;
margin-bottom: 5px;
font-weight: bold;
background-color: rgba(117, 117, 117, 0);

}

.loginRegistry input {
border: none;
border-bottom: 1px solid black;
outline: none;
padding: 5px;
background-color: rgba(117, 117, 117, 0);
}

.botonSubmit {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #252525;
    background-size: 400%;
    color: #fff;
    border: none;
  }
  
  .botonSubmit:hover::before {
    transform: scaleX(1);
  }
  
  .contenidoBoton {
    position: relative;
    z-index: 1;
    font-size: 16px;
  }
  
  .botonSubmit::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(12, 12, 12) 10.8%,
      rgb(53, 53, 53) 94.3%
    );
    transition: all 0.475s;
  } 
.ingreso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30%;
}

.ingreso h2 {
    margin-bottom: 5vh;
}



.bodyRegular {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height:fit-content;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(229.67deg, rgba(205, 237, 255, 0.8) 33.86%, rgba(156, 219, 255, 1) 77.18%);
    backdrop-filter: blur(2px);

}
.bienve {
    font-size: smaller;
    text-align: center;
}

.bienvenida {
    text-align: center;
    margin-top: 10%;
    font-size: 25px;
}

.acciones {
    margin-top: 1%;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

.acciones button {
    width: 300px;
    margin: 15px 0;
}

.acciones h3 {
    font-size: 20px;
    margin-top: 20px;
}

.dentistaIcon {
    width: 40px;
}

#odontologos-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #odontologos-table th,
  #odontologos-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  #odontologos-table th {
    background-color: #f2f2f2;
  }
  
  #odontologos-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

@media only screen and (min-width: 900px) {
    .bodyLogin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        height: 100vh;
    }

    .ingreso{
        margin-top: 0;
    }

    .bienvenida {
        margin-top: 0;
    }
}